
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

--color-primario: #000000;                    /*declaracion de varaibles */
--color-secundario: #f6f6f6;
--color-terciario: #22D4FD;
--color-hover:#272727;

--fuente-motserra: "Montserrat", serif;
--fuente-krona: "Krona One", serif;

}

*{                                         /* para hacer un cambio universal- box model */

   padding:0;
   margin: 0;



}



body {

    background-color: var(--color-primario) ;
    color : var(--color-secundario);
   /* height: 100vh;   /* para que ocupe toda la pantalla del navegador V=viewport ---se omite por que ahora esta el footer y el header*/
    box-sizing: border-box; /* para que un elemento hijo no se salga del elemento padre  */
   
}
 h1{
     font-weight: bold;
 }

 


.titulo-destaque{            /* strong class para cambiar color a un texto o parte de este  en html */ 

    color: var(--color-terciario);   
}



 stronge{                     /* stronge para cambiar color de parte del titulo */

    color: var(--color-terciario);
 } 


 .presentacion{



    display: flex;
    align-items: center;                   /* alinea elementos al centro*/
  /* margin: 10% 15%;                      /* se reemplaza margin por padding */
   padding: 6% 15%;                           /*crea una distancia entre los elementos y la orilla de la pagina */
    justify-content: space-between;        /*crea una distancia entre los elementos dentro de presentacion */ 

 }

.presentacion__contenido {

   width: 38.43rem;                /* ajusta el ancho de los elementos*/
   display: flex;               /* para separar los elementos */                
   flex-direction: column;      /* para que quede en colunmas y no en fila*/
   gap: 2.5rem;                  /* genera los espacios entre los elemento, titulo - parrafo - botones */

}

.presentacion__contenido__titulo {
    font-family:var(--fuente-krona);
    font-size: 2.25rem;                       /* cambia el tamaño de la fuente */
}


.presentacion__contenido__texto{
    font-family: var(--fuente-motserra);
    font-size: 1.5rem;
}

.presentacion__enlaces{

    display: flex;
    justify-content: space-between;
    flex-direction: column;            /*se cambio a columna la posicion de los botones*/
    align-items: center;               /*central al centro ya que se cambio a columna*/
    gap: 2rem;
}

.presentacion__enlaces__link{
    
    width: 23.62rem;                         /* anchura del boton */     
    /* background-color: #22D4FD;       /*Cambiar el fondo del boton - pero se quito por que los botones ahora no van a tener este color*/  
    text-align: center;                /* Alinear el texto en el boton */
    padding: 1.34rem 0rem;     /* colocar el valor del padding de los botones alto y ancho */
    border-radius: 0.5rem;     /* redondear boton*/
    font-family: var(--fuente-motserra), serif;   /* cambiar la fuente del texto */
    font-size: 1.5rem;      /* tamaño de la fuente */
    font-weight: 37.5rem;     /* monserrat peso 600 */
    text-decoration: none;   /* no decoraciones en el texto ________ */
    color: var(--color-secundario);
    border: 0.12rem solid var(--color-terciario);
    display: flex;                    /*para alinear el icono con el texto, este queda alineado pero a la izquierda */
    justify-content: center;              /* ahora centrara el texto en el boton */
    gap: 0.62rem;                           /* para separar un poco el texto del boton */
   /* padding-left: 250px             /* una prueba usando el padding centro el texto y el icono*/
}

.presentacion__enlaces__subtitulo{  /* cambiar fuente, tamaño y otros de accede a mis redes*/
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
    


}


.presentacion__enlaces__link:hover{

    background-color: var(--color-hover);
    /*border: 2px solid #f00909;
    font-size: 18px;
    padding: 3%*/
}

.footer{

    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family:var(--fuente-motserra) ;
    font-size: 1.5rem;
    font-weight: 400;
}



.header{

padding:  2% 0% 0% 15%; /* Para darle padding a los botones*/

}
.header__menu__link{      /*cambiar propiedades de los botones de los encabezados*/
    font-family: var(--fuente-motserra);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
    
   /* margin: 0 10px;              /*tambien se puede generar espacio entre los botones si no se usa el Gap */
   /* padding: 10px 15px; */
   /* text-decoration: none;*/
    

}

.header__menu__link:hover {
    /*color: var(--color-terciario);*/
    background-color: var(--color-hover); /* Usa varaible hover para cambia el color del boton cuando el puntero del mouese se posicione encima */
    
}

.header__menu{


    display: flex;
    gap: 5rem;                      /* para separar los botones   */

    /*justify-content: center;
    align-items: center;*/
}
 /*span{                           /*  span para cambiar color a un texto o parte  de este y otras propiedades.   
     
     color: #22D4FD;
     border: 1px solid #22D4FD;
     padding: 10px;--> 
} */